@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 206 88% 94%;
    --foreground: 224 71% 4%;
    --card: 0 0% 100%;
    --card-foreground: 224 71% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71% 4%;
    --primary: 207 82% 68%;
    --primary-foreground: 224 71% 4%;
    --secondary: 207 80% 88%;
    --secondary-foreground: 224 71% 4%;
    --muted: 206 88% 88%;
    --muted-foreground: 220 9% 46%;
    --accent: 34 100% 63%;
    --accent-foreground: 30 84% 5%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 207 82% 85%;
    --input: 207 82% 85%;
    --ring: 207 82% 68%;
    --chart-1: 207 82% 68%;
    --chart-2: 34 100% 63%;
    --chart-3: 173 58% 39%;
    --chart-4: 197 37% 24%;
    --chart-5: 43 74% 66%;
    --radius: 0.75rem;

    --sidebar-background: 207 80% 97%;
    --sidebar-foreground: 224 71% 10%;
    --sidebar-primary: 207 82% 68%;
    --sidebar-primary-foreground: 224 71% 4%;
    --sidebar-accent: 207 82% 90%;
    --sidebar-accent-foreground: 224 71% 4%;
    --sidebar-border: 207 82% 88%;
    --sidebar-ring: 207 82% 68%;
  }
  .dark {
    --background: 224 71% 4%;
    --foreground: 210 20% 98%;
    --card: 224 71% 4%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71% 4%;
    --popover-foreground: 210 20% 98%;
    --primary: 207 82% 68%;
    --primary-foreground: 224 71% 4%;
    --secondary: 215 28% 17%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 28% 17%;
    --muted-foreground: 218 11% 65%;
    --accent: 34 100% 63%;
    --accent-foreground: 30 84% 5%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 28% 17%;
    --input: 215 28% 17%;
    --ring: 207 82% 68%;
    --chart-1: 207 82% 68%;
    --chart-2: 34 100% 63%;
    --chart-3: 173 58% 39%;
    --chart-4: 197 37% 24%;
    --chart-5: 43 74% 66%;

    --sidebar-background: 224 71% 4%;
    --sidebar-foreground: 210 20% 98%;
    --sidebar-primary: 207 82% 68%;
    --sidebar-primary-foreground: 224 71% 4%;
    --sidebar-accent: 215 28% 17%;
    --sidebar-accent-foreground: 210 20% 98%;
    --sidebar-border: 215 28% 17%;
    --sidebar-ring: 207 82% 68%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
